@model IEnumerable<OASYS.Models.CursoporMatricula>
@using OASYS.Controllers
@{
    ViewBag.Title = "Index";
    Interfaz f = new Interfaz();
    string laya = f.ROL((int)Session["Rol"]);
    Layout = laya;
    int usuario = (int)Session["IdUsuario"];
    usuario = usuario;
}

<h2>Cursos por Matrícula</h2>
@{
    MatriculaEstudianteController a = new MatriculaEstudianteController();
    int total = 0;

}
<div class="table-responsive table-striped">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Curso
                </th>
                <th>
                    Precio
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            int curso = item.GestiondeCursos;
                            String b = a.Curso(curso);
                        }
                        @(b)
                    </td>
                    <td>
                        @{
                            int d = a.Precio(curso);
                            total = total + d;
                        }

                        @(d)
                    </td>
                    <td></td>
                </tr>
            }
        </thead>
    </table>
</div>
<h3>Total: @(total)</h3>

<div class="row mb-3">
    <div class="col-12">
        <a class="nav-link" href='@Url.Action("Confirmacion", "MatriculaEstudiante",
    new { Usuario = usuario })'>
            <img src="~/Assets/Icons/icons8-approval-48.png" />Confirmar Matrícula
        </a>
    </div>
</div>