
@{
    ViewBag.Title = "Confirmacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmación Cambio</h2>
<div class="row">
    <div class="col-md-8">

        <h3>
            Un correo con su nueva contraseña ha sido enviado a su correo.

            <br />
            <br />

            Gracias.

        </h3>
    </div>
</div>