@{
    ViewBag.Title = "Home Page";
}


<div class="wrapper">
    <input checked type=radio name="slider" id="slide1" />
    <input type=radio name="slider" id="slide2" />
    <input type=radio name="slider" id="slide3" />

    <div class="slider-wrapper">
        <div class=inner>
            <article>
                <img src="~/Assets/img/0ffb5ffa-e0f0-4eb0-a896-bd8178875112.jpg" />
            </article>

            <article>
                <img src="~/Assets/img/f0eb52cc-be65-438f-a07f-948bd688ce5f.jpg" />
            </article>

            <article>
                <img src="~/Assets/img/jbyhnmm-ldnonf.jpg" />
            </article>
        </div>
        <!-- .inner -->
    </div>
    <!-- .slider-wrapper -->

    <div class="slider-prev-next-control">
        <label for=slide1></label>
        <label for=slide2></label>
        <label for=slide3></label>

    </div>
    <!-- .slider-prev-next-control -->

    <div class="slider-dot-control">
        <label for=slide1></label>
        <label for=slide2></label>
        <label for=slide3></label>
    </div>
    <!-- .slider-dot-control -->
</div>

<div class="jumbotron">
    <h1>Sistema Académico En Línea</h1>
    <p class="lead">
        OASYS es un Sistema Académico en Línea adaptable a las necesidades de cualquier academia.
        <br />
        Nuestra Misión es apoyar a las Instituciones encargadas de brindar conocimiento en cualquier área, <br />
        con el fin de proporcionar soluciones a problemas propios de las Academias, brindando un servicio ágil y eficaz.
    </p>

    <p></p>
</div>

